html body {
  background-color: #f7f2fa;
}

.App {
  text-align: center;
  padding: 8px;
}

.App-header {
  display: flex;
  align-items: center;
  margin: 12px;
  gap: 15px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #1d1b20;
}

.App-body {
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.operation-machine-box {
  width: 100%;
  height: max-content;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Outline, #79747e);
}

.react-flow__attribution {
  display: none;
}
